<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.boying.mapper.TicketMapper">
    <resultMap id="BaseResultMap" type="com.tongji.boying.model.Ticket">
        <id column="ticket_id" jdbcType="INTEGER" property="ticketId"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="show_class_id" jdbcType="INTEGER" property="showClassId"/>
        <result column="qr_code_url" jdbcType="VARCHAR" property="qrCodeUrl"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ticket_id, order_id, show_class_id, qr_code_url
    </sql>
    <select id="selectByExample" parameterType="com.tongji.boying.model.TicketExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ticket
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ticket
        where ticket_id = #{ticketId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from ticket
        where ticket_id = #{ticketId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.tongji.boying.model.TicketExample">
        delete from ticket
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.tongji.boying.model.Ticket">
        insert into ticket (ticket_id, order_id, show_class_id,
                            qr_code_url)
        values (#{ticketId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{showClassId,jdbcType=INTEGER},
                #{qrCodeUrl,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.tongji.boying.model.Ticket">
        insert into ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ticketId != null">
                ticket_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="showClassId != null">
                show_class_id,
            </if>
            <if test="qrCodeUrl != null">
                qr_code_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ticketId != null">
                #{ticketId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="showClassId != null">
                #{showClassId,jdbcType=INTEGER},
            </if>
            <if test="qrCodeUrl != null">
                #{qrCodeUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.tongji.boying.model.TicketExample" resultType="java.lang.Long">
        select count(*) from ticket
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update ticket
        <set>
            <if test="record.ticketId != null">
                ticket_id = #{record.ticketId,jdbcType=INTEGER},
            </if>
            <if test="record.orderId != null">
                order_id = #{record.orderId,jdbcType=INTEGER},
            </if>
            <if test="record.showClassId != null">
                show_class_id = #{record.showClassId,jdbcType=INTEGER},
            </if>
            <if test="record.qrCodeUrl != null">
                qr_code_url = #{record.qrCodeUrl,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update ticket
        set ticket_id = #{record.ticketId,jdbcType=INTEGER},
        order_id = #{record.orderId,jdbcType=INTEGER},
        show_class_id = #{record.showClassId,jdbcType=INTEGER},
        qr_code_url = #{record.qrCodeUrl,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.tongji.boying.model.Ticket">
        update ticket
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="showClassId != null">
                show_class_id = #{showClassId,jdbcType=INTEGER},
            </if>
            <if test="qrCodeUrl != null">
                qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where ticket_id = #{ticketId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tongji.boying.model.Ticket">
        update ticket
        set order_id      = #{orderId,jdbcType=INTEGER},
            show_class_id = #{showClassId,jdbcType=INTEGER},
            qr_code_url   = #{qrCodeUrl,jdbcType=VARCHAR}
        where ticket_id = #{ticketId,jdbcType=INTEGER}
    </update>
</mapper>
