<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.boying.mapper.ShowClassMapper">
  <resultMap id="BaseResultMap" type="com.tongji.boying.model.ShowClass">
    <id column="show_class_id" jdbcType="INTEGER" property="showClassId" />
    <result column="show_session_id" jdbcType="INTEGER" property="showSessionId" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    show_class_id, show_session_id, grade, capacity, price
  </sql>
  <select id="selectByExample" parameterType="com.tongji.boying.model.ShowClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from show_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from show_class
    where show_class_id = #{showClassId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from show_class
    where show_class_id = #{showClassId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongji.boying.model.ShowClassExample">
    delete from show_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongji.boying.model.ShowClass">
    insert into show_class (show_class_id, show_session_id, grade, 
      capacity, price)
    values (#{showClassId,jdbcType=INTEGER}, #{showSessionId,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, 
      #{capacity,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.tongji.boying.model.ShowClass">
    insert into show_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="showClassId != null">
        show_class_id,
      </if>
      <if test="showSessionId != null">
        show_session_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="showClassId != null">
        #{showClassId,jdbcType=INTEGER},
      </if>
      <if test="showSessionId != null">
        #{showSessionId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongji.boying.model.ShowClassExample" resultType="java.lang.Long">
    select count(*) from show_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update show_class
    <set>
      <if test="record.showClassId != null">
        show_class_id = #{record.showClassId,jdbcType=INTEGER},
      </if>
      <if test="record.showSessionId != null">
        show_session_id = #{record.showSessionId,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.capacity != null">
        capacity = #{record.capacity,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update show_class
    set show_class_id = #{record.showClassId,jdbcType=INTEGER},
      show_session_id = #{record.showSessionId,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=INTEGER},
      capacity = #{record.capacity,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongji.boying.model.ShowClass">
    update show_class
    <set>
      <if test="showSessionId != null">
        show_session_id = #{showSessionId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where show_class_id = #{showClassId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongji.boying.model.ShowClass">
    update show_class
    set show_session_id = #{showSessionId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL}
    where show_class_id = #{showClassId,jdbcType=INTEGER}
  </update>
</mapper>