<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.boying.mapper.BoyingTicketMapper">
    <resultMap id="BaseResultMap" type="com.tongji.boying.model.BoyingTicket">
        <id column="ID" jdbcType="NUMERIC" property="id"/>
        <result column="ORDER_ID" jdbcType="NUMERIC" property="orderId"/>
        <result column="SEAT_ID" jdbcType="NUMERIC" property="seatId"/>
        <result column="QR_CODE_URL" jdbcType="NVARCHAR" property="qrCodeUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, ORDER_ID, SEAT_ID, QR_CODE_URL
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BOYING_TICKET
        where ID = #{id,jdbcType=NUMERIC}
    </select>
    <select id="getListByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from BOYING_TICKET
        where order_id = #{orderId}
    </select>
    <select id="selectTicketList" resultMap="BaseResultMap">
        select * from boying_ticket
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from BOYING_TICKET
        where ID = #{id,jdbcType=NUMERIC}
    </delete>
    <delete id="deleteTicketsList">
        delete
        from BOYING_TICKET
        where order_id = #{orderId}
    </delete>
    <insert id="insert" parameterType="com.tongji.boying.model.BoyingTicket">
        insert into BOYING_TICKET (ID, ORDER_ID, SEAT_ID,
                                   QR_CODE_URL)
        values (#{id,jdbcType=NUMERIC}, #{orderId,jdbcType=NUMERIC}, #{seatId,jdbcType=NUMERIC},
                #{qrCodeUrl,jdbcType=NVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.tongji.boying.model.BoyingTicket">
        insert into BOYING_TICKET
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="orderId != null">
                ORDER_ID,
            </if>
            <if test="seatId != null">
                SEAT_ID,
            </if>
            <if test="qrCodeUrl != null">
                QR_CODE_URL,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=NUMERIC},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=NUMERIC},
            </if>
            <if test="seatId != null">
                #{seatId,jdbcType=NUMERIC},
            </if>
            <if test="qrCodeUrl != null">
                #{qrCodeUrl,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tongji.boying.model.BoyingTicket">
        update BOYING_TICKET
        <set>
            <if test="orderId != null">
                ORDER_ID = #{orderId,jdbcType=NUMERIC},
            </if>
            <if test="seatId != null">
                SEAT_ID = #{seatId,jdbcType=NUMERIC},
            </if>
            <if test="qrCodeUrl != null">
                QR_CODE_URL = #{qrCodeUrl,jdbcType=NVARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=NUMERIC}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tongji.boying.model.BoyingTicket">
        update BOYING_TICKET
        set ORDER_ID    = #{orderId,jdbcType=NUMERIC},
            SEAT_ID     = #{seatId,jdbcType=NUMERIC},
            QR_CODE_URL = #{qrCodeUrl,jdbcType=NVARCHAR}
        where ID = #{id,jdbcType=NUMERIC}
    </update>
</mapper>
