<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.boying.mapper.BoyingUserMapper">
  <resultMap id="BaseResultMap" type="com.tongji.boying.model.BoyingUser">
    <id column="ID" jdbcType="NUMERIC" property="id" />
    <result column="USERNAME" jdbcType="NVARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="NVARCHAR" property="password" />
    <result column="PHONE" jdbcType="NVARCHAR" property="phone" />
    <result column="EMAIL" jdbcType="NVARCHAR" property="email" />
    <result column="ICON" jdbcType="NVARCHAR" property="icon" />
    <result column="REAL_NAME" jdbcType="NVARCHAR" property="realName" />
    <result column="IDENTITY_NUMBER" jdbcType="NVARCHAR" property="identityNumber" />
    <result column="AGE" jdbcType="NUMERIC" property="age" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="GENDER" jdbcType="NUMERIC" property="gender" />
    <result column="ADMIN_DELETE" jdbcType="NUMERIC" property="adminDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USERNAME, PASSWORD, PHONE, EMAIL, ICON, REAL_NAME, IDENTITY_NUMBER, AGE, CREATE_TIME,
    GENDER, ADMIN_DELETE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from BOYING_USER
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <select id="selectByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from BOYING_USER
    where username = #{username}
  </select>
  <select id="selectByUsernameAndPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from BOYING_USER
    where username = #{username} and phone = #{telephone}
  </select>
  <select id="selectByPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from BOYING_USER
    where phone = #{telephone}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BOYING_USER
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.tongji.boying.model.BoyingUser">
    insert into BOYING_USER (ID, USERNAME, PASSWORD,
      PHONE, EMAIL, ICON,
      REAL_NAME, IDENTITY_NUMBER, AGE,
      CREATE_TIME, GENDER, ADMIN_DELETE
      )
    values (#{id,jdbcType=NUMERIC}, #{username,jdbcType=NVARCHAR}, #{password,jdbcType=NVARCHAR},
      #{phone,jdbcType=NVARCHAR}, #{email,jdbcType=NVARCHAR}, #{icon,jdbcType=NVARCHAR},
      #{realName,jdbcType=NVARCHAR}, #{identityNumber,jdbcType=NVARCHAR}, #{age,jdbcType=NUMERIC},
      #{createTime,jdbcType=TIMESTAMP}, #{gender,jdbcType=NUMERIC}, #{adminDelete,jdbcType=NUMERIC}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tongji.boying.model.BoyingUser">
    insert into BOYING_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="realName != null">
        REAL_NAME,
      </if>
      <if test="identityNumber != null">
        IDENTITY_NUMBER,
      </if>
      <if test="age != null">
        AGE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="adminDelete != null">
        ADMIN_DELETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="username != null">
        #{username,jdbcType=NVARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=NVARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=NVARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=NVARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=NVARCHAR},
      </if>
      <if test="identityNumber != null">
        #{identityNumber,jdbcType=NVARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=NUMERIC},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=NUMERIC},
      </if>
      <if test="adminDelete != null">
        #{adminDelete,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongji.boying.model.BoyingUser">
    update BOYING_USER
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=NVARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=NVARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=NVARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=NVARCHAR},
      </if>
      <if test="realName != null">
        REAL_NAME = #{realName,jdbcType=NVARCHAR},
      </if>
      <if test="identityNumber != null">
        IDENTITY_NUMBER = #{identityNumber,jdbcType=NVARCHAR},
      </if>
      <if test="age != null">
        AGE = #{age,jdbcType=NUMERIC},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=NUMERIC},
      </if>
      <if test="adminDelete != null">
        ADMIN_DELETE = #{adminDelete,jdbcType=NUMERIC},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongji.boying.model.BoyingUser">
    update BOYING_USER
    set USERNAME = #{username,jdbcType=NVARCHAR},
      PASSWORD = #{password,jdbcType=NVARCHAR},
      PHONE = #{phone,jdbcType=NVARCHAR},
      EMAIL = #{email,jdbcType=NVARCHAR},
      ICON = #{icon,jdbcType=NVARCHAR},
      REAL_NAME = #{realName,jdbcType=NVARCHAR},
      IDENTITY_NUMBER = #{identityNumber,jdbcType=NVARCHAR},
      AGE = #{age,jdbcType=NUMERIC},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      GENDER = #{gender,jdbcType=NUMERIC},
      ADMIN_DELETE = #{adminDelete,jdbcType=NUMERIC}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>
