<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.boying.mapper.BoyingShowMapper">
    <resultMap id="BaseResultMap" type="com.tongji.boying.model.BoyingShow">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="poster" jdbcType="VARCHAR" property="poster"/>
        <result column="details" jdbcType="VARCHAR" property="details"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
        <result column="min_price" jdbcType="DOUBLE" property="minPrice"/>
        <result column="max_price" jdbcType="DOUBLE" property="maxPrice"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, category_id, name, poster, details, city, address, start_time, end_time, weight,
    min_price, max_price
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boying_show
        where id = #{id,jdbcType=INTEGER}
        and admin_delete = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from boying_show
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.tongji.boying.model.BoyingShow">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into boying_show (category_id, name, poster,
        details, city, address,
        start_time, end_time, weight,
        min_price, max_price)
        values (#{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{poster,jdbcType=VARCHAR},
        #{details,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{weight,jdbcType=INTEGER},
        #{minPrice,jdbcType=DOUBLE}, #{maxPrice,jdbcType=DOUBLE})
    </insert>
    <insert id="insertSelective" parameterType="com.tongji.boying.model.BoyingShow">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into boying_show
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="poster != null">
                poster,
            </if>
            <if test="details != null">
                details,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="minPrice != null">
                min_price,
            </if>
            <if test="maxPrice != null">
                max_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="poster != null">
                #{poster,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                #{details,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=INTEGER},
            </if>
            <if test="minPrice != null">
                #{minPrice,jdbcType=DOUBLE},
            </if>
            <if test="maxPrice != null">
                #{maxPrice,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tongji.boying.model.BoyingShow">
        update boying_show
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="poster != null">
                poster = #{poster,jdbcType=VARCHAR},
            </if>
            <if test="details != null">
                details = #{details,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=INTEGER},
            </if>
            <if test="minPrice != null">
                min_price = #{minPrice,jdbcType=DOUBLE},
            </if>
            <if test="maxPrice != null">
                max_price = #{maxPrice,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tongji.boying.model.BoyingShow">
        update boying_show
        set category_id = #{categoryId,jdbcType=INTEGER},
            name        = #{name,jdbcType=VARCHAR},
            poster      = #{poster,jdbcType=VARCHAR},
            details     = #{details,jdbcType=VARCHAR},
            city        = #{city,jdbcType=VARCHAR},
            address     = #{address,jdbcType=VARCHAR},
            start_time  = #{startTime,jdbcType=TIMESTAMP},
            end_time    = #{endTime,jdbcType=TIMESTAMP},
            weight      = #{weight,jdbcType=INTEGER},
            min_price   = #{minPrice,jdbcType=DOUBLE},
            max_price   = #{maxPrice,jdbcType=DOUBLE}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boying_show
        <where>
            admin_delete = 0
            and end_time > NOW()
            <if test="categoryId != null and categoryId != 0">
                and category_id = #{categoryId}
            </if>
            <if test="keyword != null and keyword != ''">
                and (name like concat('%',#{keyword,jdbcType=VARCHAR},'%') or address like concat('%',#{keyword,jdbcType=VARCHAR},'%'))
            </if>
            <if test="city != null and city != '' and city != '全国'">
                and city = #{city}
            </if>
            <if test="startDay != null and endDay != null">
                and start_time
                between #{startDay} and #{endDay}
            </if>
        </where>
        <if test="sort == null">
            order by weight desc
        </if>
        <if test="sort == 0">
            order by weight desc
        </if>
        <if test="sort == 1">
            order by START_TIME asc
        </if>
        <if test="sort == 2">
            order by START_TIME desc
        </if>
        <if test="sort == 3">
            order by MIN_PRICE asc
        </if>
        <if test="sort == 4">
            order by MIN_PRICE desc
        </if>
        <if test="sort == 5">
            order by MAX_PRICE asc
        </if>
        <if test="sort == 6">
            order by MAX_PRICE desc
        </if>
    </select>
</mapper>