<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongji.boying.mapper.BoyingPromoMapper">
    <resultMap id="BaseResultMap" type="com.tongji.boying.model.BoyingPromo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="seat_id" jdbcType="INTEGER" property="seatId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, seat_id, name, start_time, end_time, price
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boying_promo
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from boying_promo
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.tongji.boying.model.BoyingPromo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into boying_promo (seat_id, name, start_time,
        end_time, price)
        values (#{seatId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP},
        #{endTime,jdbcType=TIMESTAMP}, #{price,jdbcType=DOUBLE})
    </insert>
    <insert id="insertSelective" parameterType="com.tongji.boying.model.BoyingPromo">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into boying_promo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seatId != null">
                seat_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="price != null">
                price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seatId != null">
                #{seatId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tongji.boying.model.BoyingPromo">
        update boying_promo
        <set>
            <if test="seatId != null">
                seat_id = #{seatId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tongji.boying.model.BoyingPromo">
        update boying_promo
        set seat_id    = #{seatId,jdbcType=INTEGER},
            name       = #{name,jdbcType=VARCHAR},
            start_time = #{startTime,jdbcType=TIMESTAMP},
            end_time   = #{endTime,jdbcType=TIMESTAMP},
            price      = #{price,jdbcType=DOUBLE}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectBySeatId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boying_promo
        where seat_id = #{seatId,jdbcType=INTEGER}
        and end_time > NOW()
    </select>
</mapper>